@import url(./style.css);

.book{
    padding: 139px 0px 183px 32px;
    overflow: hidden;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}
.book-wrapper{
    display: flex;
    align-items: center;
    gap: 32px;
    /* width: 100%; */

}
.book-col{
    position: relative;
    transition: all 0.4s;
}

.book-front{
    width: 261px;
    height: 398px;
    background: #246FFF;
}
.book-content{
    padding: 99px 31px 0px 48px;
}
.book-text{
    font-family: 'Lora', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 63.84px;
    color: #F7F5F2;
    margin-bottom: 4px;
}
.book-paragraph{
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18.62px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #F7F5F2;
    opacity: 0.6;
    max-width: 135px;
}
.book-images-part{
    width: 261px;
    height: 398px;
    overflow: hidden;
}
.book-images{
    display: block; 
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
.overlay-part{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 32px;
    left: 24px;
    z-index: 2;
}
.overlay-para{
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22.4px;
    color: #DC8452;
    margin-bottom: 8px;
    max-width: 213px;
}
.overly-content{
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}
.overlay-p-text{
    font-family: 'Lora', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23.94px;
    color: #F7F5F2;
    margin-bottom: 8px;
    max-width: 213px;
}
.overlay-heading{
    display: inline-block;
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22.4px;
    color: #797F99;
}
.button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #F27059;
    border-radius: 24px;
    max-width: 102px;
    border: none;
    transition: all 0.4s;
}
.button:hover{
    background-color: #797F99;
}
.overlay-btn-link{
    display: inline-flex;
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21.28px;
    text-align: center;
    color: #FFFFFF;
    padding: 9px 16px;
}
.overlay{
    position: absolute;
    bottom: 0px;
    left: 0px;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    display: none;
}
.book-col:hover .overlay{
     display: block;
     background: #000000;
     opacity: 0.9;
     width: 100%;
     height: 100%;
}


@media (max-width:768px){
    .book{
        padding: 75px 0px 75px 16px;
    }
}