@import url(./style.css);

.volunteer::before{
    content: '';
    position: absolute;
    border-top: 1px solid #323F55;
    max-width: 1207px;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.volunteer{
    position: relative;
    overflow: hidden;
    padding: 57px 0px 64.7px 0px;
}
.section-heading-title.volunteer-title{
    margin: 0 auto;
}
.volunteer-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 32px;
    margin-top: 72.3px;
    width: 100%;
}
.volunteer-col{
    width: 31%;
}
.supporter{
    display: flex;
    align-items: center;    
    flex-direction: column;
    padding: 32px 30px 56px 30px;
    min-height: 410px;
}
.supporter-image-main{
    width: 96px;
    height: 96px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0px 0px 16px 0px;
}
.supporter-img{
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
}
.supporter-heading{
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31.92px;
    text-align: center;
    color: #F7F5F2;
    max-width: 392px;
    margin-bottom: 16px;
}
.supporter-span{
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31.92px;
    text-align: center;
    color: #F27059;
}
.supporter-para{
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22.4px;
    text-align: center;
    color: #CFD2E0;
    max-width: 327px;
    margin-bottom: 23px;
}
.supporter-btn{
    display: inline;
    background: #F27059;
    border-radius: 24px;
    border: none;
    padding: 9.5px 16px;
    transition: all 0.4s;
}
.supporter-btn:hover{
    background-color: #797F99;
}
.supporter-btn-link{
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21.28px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 56px;
}

@media (max-width:1200px){
    .volunteer-col{
        width: 48%;
    }
}
@media (max-width:992px){
    .supporter{
        padding: 0;
    }
    .supporter-para{
        margin: 0px 0px 16px 0px;
    }
    .volunteer-wrapper{
        gap: 16px;
    }
}
@media (max-width:576px){
    .volunteer-col{
        width: 100%;
    }
    .supporter{
        min-height: auto;
    }
    .supporter-btn{
        margin-bottom: 0;
    }
}